*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_animate{
  background: repeating-linear-gradient(rgb(87, 188, 234), rgb(48, 129, 250));
  overflow: auto;
}

.logo{   
  float: left;
  margin-left: 10vh;
  background-image: url(../IMG_Web/Quibix_Logo.png);
  height: 10vh;
  width: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.headMenu a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.headMenu a:hover{
  background-color: white;
  padding: 2vh;
  border-radius: 5vh;
  text-decoration: none;
  color: rgb(87, 188, 234);
  font-weight: bold;
}

.listCenter{
  display: flex;
  justify-content: center;
}
  
.headMenu{
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
}

.headMenu li{
  margin: 3vh 10vh 0 0vh;
}

h2{
  margin-top: 5vh;
}

.bor-img{
  border-radius: 15px;
}

.pagination-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}

 
/************************************************************************************/

footer{
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  margin-top: 12vh;
}

hr{
  border-color: white;
}

h4{
  text-align: center;
}

.logo2{   
  float: left;
  background-image: url(../IMG_Web/Quibix_LogoBN.png);
  height: 10vh;
  width: 10vh;
  margin-top: 6vh;
  margin-left: 15vh;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footerMenu a{
  color: white;
}

.footerMenu a:hover{
  background-color: white;
  padding: 1vh;
  border-radius: 5vh;
  color: black;
  font-weight: bold;
  text-decoration: none;
}