*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo del header */
.bg_animate{
  background: repeating-linear-gradient(rgb(87, 188, 234), rgb(48, 129, 250));
  overflow: auto;
}

/* Ajuste de la imagen del header "Logo" */
.logo{   
  float: left;
  margin-left: 10vh;
  background-image: url(../IMG_Web/Quibix_Logo.png);
  height: 10vh;
  width: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}

/* Ajuste del texto y su estilo en los links de las secciones */
.headMenu a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* Al pasar el ratón por encima cambia de estilo los links del header */
.headMenu a:hover{
  background-color: white;
  padding: 2vh;
  border-radius: 5vh;
  text-decoration: none;
  color: rgb(87, 188, 234);
  font-weight: bold;
}

/* Ajustar que la lista sea horizontal no vertical */
.listCenter{
  display: flex;
  justify-content: center;
}
  
/* Ajustes del menu */
.headMenu{
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
}

/* Distancia entre cada li */
.headMenu li{
  margin: 3vh 10vh 0 0vh;
}

/* Distancia de todos los h2 de la parte superior */
h2{
  margin-top: 5vh;
}

/* Aqui solo se ajusta el radio de las imagenes del main */
.bor-img{
  border-radius: 15px;
}

/* Aqui es el estilo de los botones de las paginas que sean en las tablas */
.pagination-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

/* Al pasar el raton cambia el color de fondo */
.pagination-button:hover {
  background-color: #f0f0f0;
}

 
/************************************************************************************/

/* Deieño del footer */
footer{
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  margin-top: 12vh;
}

/* Cambio de color de la lines separadora */
hr{
  border-color: white;
}

/* Alineaciones de txt h4 */
h4{
  text-align: center;
}

/* El logo2 es el blanco y negro que va en el footer */
.logo2{   
  float: left;
  background-image: url(../IMG_Web/Quibix_LogoBN.png);
  height: 10vh;
  width: 10vh;
  margin-top: 6vh;
  margin-left: 15vh;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* El menu del footer que las letras sean blancas */
.footerMenu a{
  color: white;
}

/* Al pasar el raton que cambie de apareincia */
.footerMenu a:hover{
  background-color: white;
  padding: 1vh;
  border-radius: 5vh;
  color: black;
  font-weight: bold;
  text-decoration: none;
}